body {
  margin: 0;
  padding: 0;
  background-color: ecf0f1(54, 50, 57);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}

.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}
.portfolio-item .item img {
  height: 300px;
  object-fit: cover;
} /* Fixed image size */

.figure{
  margin: 15px;
  padding: 15px;
  width: auto;
}

.figure .col{
  width: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.portfolio-item {
  margin-bottom: 15px;
}

/* Faceted search filters */
.filter-sidebar {
  padding: 20px;
  background-color: #34495e;
  border-right: 1px solid #1f1d2c;
  height: 100vh; /* Full height */
  color: #fff;
}

.filter-sidebar h5 {
  margin-bottom: 15px;
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group label {
  font-weight: bold;
}

.filter-group select {
  width: 100%;
  padding: 5px;
}

/* Styling for pagination */
.pagination {
  justify-content: center;
  margin-top: 20px;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.image-container {
    height: 250px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow */
}
.image-container img {
    height: 100%; /* Make image fill the container */
    width: auto; /* Maintain aspect ratio */
    display: block; /* Remove inline spacing */
    margin: 0 auto; /* Center image */
    object-fit: cover; /* Cover the container */
    object-position: center; /* Center the image */
    transition: transform 0.3s ease; /* Smooth transition */
    border-radius: 10px; /* Rounded edges */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow effect */
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px; /* Adjust the spacing between images */
}

.image-grid img {
    height: 220px;
    width: auto;
    object-fit: cover;
    flex-grow: 1;
}
